$color-black: #000000;
$color-dark: #1E1E1E;
$color-light: #F7F7F7;
$color-dark-gray: #3B3B3B;
$color-gray: #9B9B9B;
$color-blue: #1217FF;


//colors by function
$color-text: $color-light;
$color-bg: $color-dark;
$color-link: $color-light;
$color-link-hover: $color-blue;
$color-border: $color-dark;
$color-text-selection: $color-blue;
$color-highlight: $color-light;

$color-notice: yellow;
$color-error: red;
$color-success: green;
