@font-face {
  font-family: 'Neutral';
  src: url('/font/NeutralStd-Regular.woff2') format('woff2'),
    url('/font/NeutralStd-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neutral';
  src: url('/font/NeutralStd-Medium.woff2') format('woff2'),
    url('/font/NeutralStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neutral';
  src: url('/font/NeutralStd-RegularItalic.woff2') format('woff2'),
    url('/font/NeutralStd-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Neutral Std Med';
  src: url('/font/NeutralStd-MediumItalic.woff2') format('woff2'),
      url('/font/NeutralStd-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}


//fonts by type
$font-family-sans: 'Neutral', "Liberation Sans", sans-serif;
$font-family-mono: 'Space Mono', Helvetica;

//fonts by function
$font-family-base: $font-family-sans;
$font-family-h: $font-family-sans;
$font-family-mono: $font-family-mono;

//font dimensions
$font-size-mobile: 12px;
$font-size-default: 16px;
$font-lheight-default: 20px;

$font-sizes: (
  xxl: ceil($font-size-default * 3.75),
  xxl-mobile: ceil($font-size-default * 2.2),
  xl: ceil($font-size-default * 2),
  l: ceil($font-size-default * 1.3),
  m: $font-size-default,
  mm: $font-size-default,
  s: ceil($font-size-default * 0.75),
  xs: ceil($font-size-default * 0.5)
);

$font-weights: (
  light: 300,
  regular: normal,
  medium: 500,
  bold: bold
);

//font dimensions by function
$font-sizes-headings: (
  1: ceil($font-size-default * 2),
  2: ceil($font-size-default * 1.5),
  3: ceil($font-size-default * 1.4),
  4: ceil($font-size-default * 1.3),
  5: ceil($font-size-default * 1.2),
  6: ceil($font-size-default * 1.1)
);

$font-size-h: ceil($font-size-default * 2);
$font-size-text: $font-size-default;

$font-lheight-h: 1.4;
