//global configs
$rem-to-px-fallback: false !default;

//use custom grid
$grid-enabled: true;

$mq-breakpoints: (
    xs: 480px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xl: 1920px
);

$layers: (
    behind: -1,
    below: -1,
    base: 0,
    above: 1,
    modal: 22,
    scrollbar: 19,
    header: 20,
    loader: 99,
);

$small-margin-mobile: 10px;
$small-margin: 15px;

$standard-margin-mobile: 30px;
$standard-margin: 40px;

$big-margin-mobile: 40px;
$big-margin: 80px;

//PSD base viewport size
$viewport-width: 1280px;
$viewport-height: 720px;

$container-width: 1200px;
$maximum-width: 1600px;

$block-padding: 50vh;
$block-padding-mobile: 20vh;
