<template>
  <div>
    ciao
  </div>
</template>

<script>
import HelloWorld from '@/components/HelloWorld.vue';

export default {
  name: 'home',
  components: {
    HelloWorld,
  }
};
</script>

<style lang="scss" scoped>



</style>

