<template>
  <div id="app">
    <detect-network>
      <div slot="online">
        <router-view/>
      </div>
      <div slot="offline">
        <Offline />
      </div>
    </detect-network>
    <canvas width="16" height="16" id="canvas"></canvas>
    <ScreenSaver />
  </div>
</template>

<style lang="scss">
@import 'application';

body {
  overflow: auto;
}

</style>

<script>
import detectNetwork from 'v-offline';

import Konami from '@/assets/libs/konami';
import ScreenSaver from '@/components/ScreenSaver.vue';
import Offline from '@/components/Offline.vue';

export default {
  name: 'App',

  components: {
    detectNetwork,
    ScreenSaver,
    Offline
  },

  data() {
    return {
      index: 0,
      speed: 300
    }
  },

  mounted() {

    // konami
    const konami = new Konami();
    konami.init();


    // change title
    window.addEventListener('blur', () => {
      document.title = 'byeeeeee';
    });

    window.addEventListener('focus', () => {
      document.title = 'vue-test';
    });

    // favicon
    const canvas = document.getElementById('canvas');
    canvas.width = 32;
    canvas.height = 32;
    canvas.style.width = '16px';
    canvas.style.height = '16px';
    const ctx = canvas.getContext('2d');
    ctx.scale(2,2);
    ctx.globalCompositeOperation = 'source-over';
    ctx.imageSmoothingQuality = 'high';

    const sprite = new Image();
    sprite.src = '/img/sprite2.png';
    console.log(sprite);
    
    this.favicon(ctx, sprite);
    

    // battery works only chrome and android
    navigator.getBattery().then(function(battery) {

      battery.addEventListener('chargingchange', function(){
        alert(battery.charging);
      });

    });
  },

  methods: {
    
    render(){
    },

    favicon(ctx, sprite){

      if(this.index > 1) {
        // smile
        this.speed = 9000;
        this.index = 0;
      } else {
        // blink
        this.speed = 300;
      }

      ctx.clearRect(0, 0, 32, 32);
      ctx.drawImage(sprite, 32 * this.index++, 0, 32, 32, 0, 0, 16, 16 );

      const favOrig = document.getElementById('favicon');
      const favClone = favOrig.cloneNode(true);
      favClone.setAttribute('href',ctx.canvas.toDataURL('image/png', 1));
      favOrig.parentNode.replaceChild(favClone, favOrig);

      setTimeout(() => {
        this.favicon(ctx, sprite);
      }, this.speed);
    },

  }
  
}
</script>